h2 {
	color:black;
}

* {
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	
}

header {
    width: auto;
    min-height: 100px;
    margin: 0;
    text-align: center;
    background-color:#BDBDBD;
    overflow-x: hidden;

}


header, section, footer {
    display:block;
}

section {

    padding: 10px;
    height; auto;
    width: 80%;
    background-color: gray;
    float: left;
    float: right;
    margin-bottom: 10px;

}

#menu {
	position:absolute;
    width:20%;
    background-color: white;
	text-align:center;
}

footer {
    height:100px;
    margin-top:10px;
    text-align:left;
    clear:both;
    background-color: #BDBDBD;
}

#espaco{
	width: 50;
	height: 50;
	float: left;
	margin-left: 200px;
}

#espaco2{
	float: left;
	margin-left: 3%;
}
#site {
	color: black;
	font-weight: bold;
	font-decoration: underline;
	font-size: 20;
}

}#bolha {
	background-color: #6E6E6E;
	

}
#link {
	color: black;
	
}
#cinz{
text-align:center;